.button {
	@extend .animated;
	@include button-reset;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 30px;
	font-weight: 400;
	font-size: 13px;
	border-radius: 3px;
	background-color: $c-dark;
	color: $c-white;
	&:hover {
		background-color: $c-green-dark;
	}
	&:active {
		opacity: 0.9;
	}
	&._big {
		height: 50px;
		font-size: 14px;
	}
	&._call {
		height: 50px;
		font-weight: 500;
		font-size: 15px;
	}
	&._large {
		height: 50px;
		font-weight: 500;
		font-size: 18px;
	}
	&._offer {
		height: 45px;
		font-weight: 500;
		font-size: 14px;
	}
	&._diet {
		height: 47px;
		font-weight: 500;
		font-size: 16px;
	}
	&._green {
		background-color: $c-green-dark;
		&:hover {
			background-color: $c-dark;
		}
	}
	&._full {
		width: 100%;
	}
	@include max-screen($breakpoint-sm) {
		&._offer {
			font-size: 12px;
		}
	}
}
