.textarea {
	display: block;
	width: 100%;
	&__title {
		display: inline-block;
		margin-bottom: 14px;
		font-size: 13px;
		font-weight: 400;
		color: $c-grey-4;
	}
	&__general {
		padding-bottom: 8px;
		width: 100%;
		outline: none;
		border: none;
		border-bottom: 1px solid $c-black;
		background-color: inherit;
		color: $c-black;
		font-size: 16px;
		font-family: inherit;
		font-weight: 300;
		resize: vertical;
	}
	&._disabled {
		.textarea__general {
			color: $c-grey-4;
			border-bottom-color: $c-grey-4;
		}
	}
	&._error {
		.textarea__general {
			border-bottom-color: $c-red;
		}
	}
	@include max-screen($breakpoint-sm) {
		&__title {
			margin-bottom: 10px;
			font-size: 10px;
		}
		&__general {
			font-size: 14px;
			min-height: 80px;
		}
	}
}
