.logo {
	display: flex;
	align-items: baseline;
	&__left {
		width: 102px;
		height: 24px;
		margin-right: 9px;
	}
	&__right {
		width: 93px;
		height: 23px;
	}
	@include max-screen($breakpoint-xl) {
		&._header {
			.logo__left {
				width: 81px;
				margin-right: 7px;
			}
			.logo__right {
				width: 82px;
				height: 21px;
			}
		}
	}
	@include max-screen($breakpoint-sm) {
		&__right {
			display: none;
		}
		&._header {
			.logo__left {
				margin-right: 0;
				width: 62px;
				height: 15px;
			}
		}
	}
}
