$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$breakpoint-xxxl: 1600px;
$breakpoint-xxl: 1280px;
$breakpoint-xl: 1023px;
$breakpoint-l: 767px;
$breakpoint-md: 575px;
$breakpoint-sm: 479px;

$c-black: #000;
$c-dark: #43464f;
$c-header-bg: #212121;
$c-main-text: #232733;
$c-green: #81b168;
$c-green-2: #12b38c;
$c-green-dark: #758e78;
$c-beige: #f2d5b3;
$c-white: #fff;
$c-grey: #eaeaea;
$c-grey-2: #d9d9d9;
$c-grey-3: #f7f7f7;
$c-grey-4: #b1b1b1;
$c-blue: #006699;
$c-red: #fc5239;
